<div class="navbar" >
  <div class="container">

    <a class="navbar-brand" href="#">
      <img><%= image_tag 'smallfighter.png' %></img>
    </a>

    <div class="nav-collapse navbar-responsive-collapse">
      <ul class="nav row">
        <li data-slide="1" class="col-md-12 col-sm-2"><a id="menu-link-1" href="http://snoway.herokuapp.com/" title="Next Section"><span class="fa fa-home"></span> <span class="text">HOME</span></a></li>
        <li data-slide="2" class="col-md-12 col-sm-2"><a id="menu-link-2" href="http://snoway.herokuapp.com/#slide-2" title="Next Section"><span class="fa fa-cloud"></span> <span class="text">RESORTS</span></a></li>
        <li data-slide="4" class="col-md-12 col-sm-2"><a id="menu-link-4" href="http://snoway.herokuapp.com/resorts" title="Next Section"><span class="fa fa-plane"></span> <span class="text">FLIGHTS</span></a></li>
        <!-- <li data-slide="5" class="col-md-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="fa fa-quote-right"></span> <span class="text">QUOTE</span></a></li> -->
        <li data-slide="6" class="col-md-12 col-sm-2"><a id="menu-link-6" href="http://snoway.herokuapp.com/" title="Next Section"><span class="fa fa-envelope-o"></span> <span class="text">CONTACT</span></a></li>
        <li>
          <button type="button" class="navbar-right navbar-btn btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Receive Weekly Snowfall Email</button>
          <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <%= render partial: 'users/form' %>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="col-sm-2"></div>
      </div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->


<body class="flightback">
<h1 class="flighttitle"> CHEAPEST FLIGHTS LEAVING TOMORROW </h1>
<br>

<div class="container">

<table  class="flight table-bordered table-condensed table-striped" style="width: 100%">
 <thead>
   <tr>
     <th>Destination</th>
     <th>Airline</th>
     <th>Price</th>
     <th>Carrier</th>
     <th>Flight #</th>
     <th>Link</th>
   </tr>
 </thead>
 <tbody>
<% @flight.each do |fly| %>
  <tr>
    <td ><%= fly.destination %></td>
    <td ><%= fly.carrier_name %></td>
    <td ><%= number_to_currency(fly.price) %></td>
    <td ><%= fly.carrier_code %></td>
    <td ><%= fly.flight_number %></td>
    <td ><%= link_to "Fly now", "https://www.google.com/flights/#search;f=HOU,IAH;t=#{fly.airport};d=#{@day};r=#{@add_week}" %></td>
  </tr>
<% end %>

</tbody>
</table>
<br>
<div>
    <%= link_to "Flights leaving tomorrow! ", href= "https://www.google.com/flights/#search;f=HOU,IAH;d=2015-03-26;r=2015-04-02;mc=e", class: "btn btn-success", style: "width: 100%" %>
  <br>
  <br>
  <%= link_to "Home ", root_path, class: "btn btn-success", style: "width: 100%" %>
</div>
<br>
<br>
<br>

</div>
</div>
