<div id="navbar" class="navbar-collapse collapse">
  <form class="navbar-form navbar-left" role="search">
    <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :search_text %>
    <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>
  </form>
</div>
<body class="container">

  <!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Weekly Email</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= render partial:  'users/form' %>
    </div>
  </div>
</div>

<div>
  <% @resorts.each do |resort| %>
    <div><%= image_tag resort.photo.thumb %>  <%= link_to resort.name, resort %>
     <h3> <%= resort.expected_snowfall %> in.</h3> Expected this week!</div>
     <hr>
  <% end %>
</div>

</body>
