<div class="navbar" >
  <div class="container">

    <a class="navbar-brand" href="#">
      <img><%= image_tag 'smallfighter.png' %></img>
    </a>

    <div class="nav-collapse navbar-responsive-collapse">
      <ul class="nav row">
        <li data-slide="1" class="col-md-12 col-sm-2"><a id="menu-link-1" href="http://snoway.herokuapp.com/" title="Next Section"><span class="fa fa-home"></span> <span class="text">HOME</span></a></li>
        <li data-slide="2" class="col-md-12 col-sm-2"><a id="menu-link-2" href="http://snoway.herokuapp.com/" title="Next Section"><span class="fa fa-cloud"></span> <span class="text">RESORTS</span></a></li>
        <li data-slide="4" class="col-md-12 col-sm-2"><a id="menu-link-4" href="http://snoway.herokuapp.com/resorts" title="Next Section"><span class="fa fa-plane"></span> <span class="text">FLIGHTS</span></a></li>
        <!-- <li data-slide="5" class="col-md-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="fa fa-quote-right"></span> <span class="text">QUOTE</span></a></li> -->
        <li data-slide="6" class="col-md-12 col-sm-2"><a id="menu-link-6" href="http://snoway.herokuapp.com/" title="Next Section"><span class="fa fa-envelope-o"></span> <span class="text">CONTACT</span></a></li>
        <li>
          <button type="button" class="navbar-right navbar-btn btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Receive Weekly Snowfall Email</button>
          <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <%= render partial: 'users/form' %>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="col-sm-2"></div>
      </div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->



<body class="container showback transparent">

<div><%= image_tag @resort.photo.large, class: "img-responsive" %></div>
<h1><%= @resort.name %></h1>

<% total = @resort.hourly_forecasts.map do |forecast| %>
  <% forecast.precip_accumulation.to_f %>
<% end %>
<h2>Expected snowfall this week: <%= total.sum.round(2) %> inches</h2>



 <table class="temp table-bordered table-condensed table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>When</th>
      <th>Temp Low</th>
      <th>Temp High</th>
      <th>Snow Probability</th>
      <th>Inches of Snow</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>

   <% @resort.hourly_forecasts.sort_by(&:datetime).each do |forecast| %>
     <tr>
       <td ><%= forecast.datetime.strftime("%A, %b %d") %></td>
       <td ><%= forecast.temperature_min.to_f.round(0) %></td>
       <td ><%= forecast.temperature_max.to_f.round(0) %></td>
       <td ><%= number_to_percentage forecast.precip_probability * 100, precision: 0 %></td>
       <td ><%= forecast.precip_accumulation.round(1) %></td>
       <td ><%= forecast.summary %></td>
     </tr>
   <% end %>

  </tbody>
  </table>

<br>
<br>
<h4>Lowest priced flight leaving tomorrow</h4>




<table  class="flight table-bordered table-condensed table-striped" style="width: 100%">
 <thead>
   <tr>
     <th>Destination</th>
     <th>Airline</th>
     <th>One-way Price</th>
     <th>Carrier</th>
     <th>Flight #</th>
     <th>Link</th>
   </tr>
 </thead>
 <tbody>
<% flights_for_resort(flights: @flight, resort: @resort).each do |fly| %>
  <tr>
    <td ><%= fly.destination %></td>
    <td ><%= fly.carrier_name %></td>
    <td ><%= number_to_currency(fly.price) %></td>
    <td ><%= fly.carrier_code %></td>
    <td ><%= fly.flight_number %></td>
    <td ><%= link_to "Fly to #{@resort.name} now", "http://www.google.com/flights" %></td>
  </tr>
<% end %>

</tbody>
</table>
<br>
<div>
  <%= link_to "Get to #{@resort.name} - Flight leaves tomorrow! ", href= "http://www.google.com/flights", class: "btn btn-success", style: "width: 100%" %>
</div>
<br>
<br>
<br>
</body>
